<h1>New Freeform</h1>

<%= error_messages_for :free_form %> 

<% form_for @free_form, :url => { :action => "create" } do |f| %> <%= render :partial => "form", :locals => {:submit_message => "Save", :f => f}  %><% end %>