<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>registration_email_html</title>
	
</head>

<body>

  <h3>Welcome <%= @participant.first_name + " " + @participant.last_name -%>,</h3>

  <p>
  You registered for the „<%= @registration.event.subtitle %>“.<br>

  The Convention starts at <%= @registration.event.startdate %> at 17 h and ends at <%= @registration.event.enddate -%> at 10 h.<br>

  Check-in is open Friday from 2 – 10 pm, please send us an email in case you intend to arrive at another time. <br>

  Location is the JH Castle Stahleck in Bacharach, Germany.<br>

  Your registration is valind as soon as we receive your payment<br>

  The price includes 3 x Accomodation and sheets, in addition breakfast, lunch, dinner and Con-fee:  <br>

  <ul>
    <li>Default-Price 119.00 €</li>
  </ul>

  <p>Price for Kids: </p>

  <ul>
    <li>0-3 y = free</li>
    <li>4-10 y = 39.00 €</li>
    <li>11-14 y = 49.00 €</li>
  </ul>

  <p>
    Please send the money to<br>

    Eternal Con e.V. <br>
    Deutsche Skatbank Altenburg<br>
    Account Nr: 4526465<br>
    BLZ 830 654 10<br>
    For International Bank Transfers:<br>
    IBAN:        DE91 8306 5408 0004 5264 65<br>
    BIC:  GENODEF1ALT<br><br>
  
  Or via Paypal to Pittel@eternal-con.de just klick here<br>
  </p>

  <p>
  Other fees like freeforms (10,00 Euro per freeform), requested small rooms or shuttle from Hahn Airport please pay at the Con.
  </p>

  <p>
    Please don’t forget to bring towels!
  </p>
  
  <p>
  The Eternal-Crew is looking forward to meet you and we wish you a great time and good gaming.<br>
  </p>

  <p>
    PS.: for more information visit <a href="http://eternal-con.de">EternalCon.de</a> or <a href="http://www.facebook.com/EternalConvention">Facebook</a>
  </p>

  <p>
    <a href="http://groups.yahoo.com/subscribe/eternalcon?user=enter+email+address&Click+to+join+eternalcon=Subscribe">YAHOO Group</a>
  </p>

</body>
</html>
