<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Registration Eternal-Con 2012</title>
	
</head>

<h3>Herzlich Willkommen <%= @participant.first_name + " " + @participant.last_name -%>,</h3>

<p>
Du hast dich zur „Eternal ConSpiracy 2012 angemeldet.<br>

Der Convention beginnt am 25. Mai 2012 gegen 17 Uhr und endet am 28. Mai 2012 um 10 Uhr.<br>

Check-in ist am Freitag zwischen 14 und 22 Uhr möglich, bitte schreibt uns eine Mail, falls du außerhalb dieser Zeit anzureisen planst.<br>

Ort ist die Jugendherberge Burg Stahleck in 55422 Bacharach, Deutschland. <br>

Deine Anmeldung ist rechtsgültig sobald dein Conbeitrag bei uns eingetroffen ist.<br>

Der Preis beträgt für 3 x Übernachtung inkl. Bettwäsche und Frühstück, Mittag, Abendbrot sowie Congebühr 119,00 € <br>
Preise für Kinder: 

<ul>
  <li>0-2 Jahre = umsonst</li>
  <li>3-10 Jahre = 39,00 €</li>
  <li>11-14 Jahre = 45 €</li>
</ul>

<p>
Bitte überweise das Geld auf das folgende Konto:<br>
</p>

<p>
Eternal Con e.V. <br>
Deutsche Skatbank Altenburg<br>
Account Nr: 4526465<br>
BLZ 830 654 10<br>
For International Bank Transfers:<br>
IBAN:        DE91 8306 5408 0004 5264 65<br>
BIC:  GENODEF1ALT<br>
</p>


<p>
Oder per Paypal an Pittel@eternal-con.de<br>
</p>


<p>
Weitere Gebühren wie Freeforms (10,00 Euro pro Freeform), Zuschläge für extra angefragte kleine Zimmer oder Shuttleservice vom Flughafen Hahn bezahlst du bitte vor Ort.
</p>

<p>
Bitte nicht vergessen: Handtücher mitbringen!
</p>

<p>
Die Eternal Crew freut sich auf dich und wünscht die tolle Spiele und eine schöne Zeit.<br>
</p>


<p>
PS: Weitere Informationen bei <a href="http://eternal-con.de">EternalCon.de</a> oder <a href="http://www.facebook.com/EternalConvention">Facebook</a>
</p>

<p>
PPS: Bitte nutze unsere Homepage, um dich im Forum und auf der Yahoo Mailing Liste anzumelden. Dort gibt es regelmäßig Informationen und Neuigkeiten!
</p>


<p>
  <a href="http://forum.eternal-con.de/">Eternal Forum</a><br>
  <a href="http://groups.yahoo.com/subscribe/eternalcon?user=enter+email+address&Click+to+join+eternalcon=Subscribe">YAHOO Group</a>
</p>