<<<<<<< HEAD
<div id="content_wrapper" class="grid_8 prefix_2 suffix_2">
  <div class="registerParticicpantDiv">

    <h2 class="content">Participants Data </h1>
    <%= error_messages_for :participants %> 

    <label id="partUsernameLabel">Name<%#= @participant.user.name %></label>
    <label id="partEmailLabel">E-Mail <%#= @participant.user.email %></label>

    <%= render :partial => "form" %>
  </div>
</div>
=======
<h1>Participant Registration for The Eternal Convention 2011 - Eternal Villains </h1>
<%= error_messages_for :participants %> 
<%= render :partial => "form" %>

>>>>>>> d1dd51a47b60b1dedde987624068b797ace954a6
