<div id="flash_messages" style="height: 450px; padding: 0 90px; ">
	<%= content_tag('div', flash[:error], :class => 'flash error', :id => "flash_error_div", :style => "margin-top: 0px; padding: 70px;" ) if flash[:error] %>
	<%= content_tag('div', flash[:notice], :class => 'flash notice', :id => "flash_notice_div", :style => "margin-top: 0px; padding: 70px;" ) if flash[:notice] %>
</div>
