<div id="content_wrapper" class="grid_9 prefix_1 suffix_2">
  <div id="registerFormDiv" class="registerParticicpantDiv" style="margin-top: 15px;">
    
    <%= render :partial => "form" -%>
  </div>
</div>
