<p class="subheader">Reservierung für 2014 ist geschlossen</p>

<div class="pricebox">
  <p class="copy">Achtung, der Eternal-Con 2014 ist so gut wie ausgebucht. Eine direkte Reservierung ist daher nicht mehr möglich.</p>

  <p class="copy">Einige wenige Plätze werden auf Anfrage für 149,-€ vergeben.</p>

  <p class="copy">Reservierungsanfragen bitte per Mail an <a href="mailto:pittel@eternal-con.de">pittel@eternal-con.de</a></p>
</div>


<p class="subheader">Eternal-Con-2014, reservation is closed</p>

<div class="pricebox">
  <p class="copy">We´re sorry, but the Eternal-Convention 2014 ist almost sold out. A direct reservation is not possible anymore</p>

  <p class="copy">However there is a little chance that we have some places left for just 149,-€</p>

  <p class="copy">As the normal reservation is closed, you have to write a email to <a href="mailto:pittel@eternal-con.de">pittel@eternal-con.de</p>
  
</div>
