<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

	<title>Registration Freeform</title>
	
</head>

<h3>Hallo <%= @participant.first_name + " " + @participant.last_name -%>,</h3>

<p>
Vielen Dank für Deine Registrierung für die Freeform <i><%= @freeform_registration.freeform.title -%></i>.<br>

Wir leiten Deine Anmeldung an den Autor weiter. Sobald neue Infos zur Verfügung stehen, halten wir Dich auf dem Laufenden
</p>
<br><br>
Gruss Pittel
</br><br>
PS.: weitere Informationen bei <a href="http://eternal-con.de">EternalCon.de</a> oder <a href="http://www.facebook.com/EternalConvention">Facebook</a>